

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      panel heading
    </div>
    <div class="panel-body">
      <div class="module_input">
        <%= form_tag search_twitter_user_actions_path, :remote => true, :method => :get do %>
          <label for="twit-handle">Enter Twitter Handle</label>
          <%= text_field_tag 'twitter_user[handle]', nil, :placeholder => "@handle" %>
          <button type="submit" id="submit" class="btn btn-info">Check Tweets</button>
        <% end %>
      </div>
    </div>
    <div class="panel-footer">
      footer here
    </div>
  </div>
</div>
