

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      panel heading
    </div>
    <div class="panel-body">
      <div class="module_input">
        <label for="twit-handle">Enter Twitter Handle</label>
        <input type="text" id="twit-handel" palceholder="@handel">
        <button type="submit" id="submit" class="btn btn-info">sumbit</button>
      </div>
    </div>
    <div class="panel-footer">
      footer here
    </div>
  </div>
</div>
